<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
      <br><br>
      <div class="row center">
        <h1>AglioMarket</h1>
        <h4>Vendi e acquista contenuti digitali</h4>
      </div><br>
      <div class="row center">
        <%= link_to 'Vai ai contenuti', contents_path, class:"btn dark-green btn-large" %>
    </div>
    <br><br>
  </div>
  <div class="parallax"><%= image_tag("home.jpg") %></div>
</div>