<div class="container">
  <div class="row" style="margin-bottom: 0;">
    <h1 class="header">Scopri chi sono</h1>

    <h2 class="header">AglioMarket</h2>
    <p class="caption">Questo sito è frutto del mio corso di web developer. É  interamente funzionale e può essre utilizzato come esercitazione per chiunque voglia imparare a creare siti utilizzando ruby e rails.</p>

    <h2 class="header">Conosci il creatore del sito</h2>
    <div class="center about" style="">
      <img src="/assets/Io-393f042872ae79716cbda73ec063d4782637c5c005972146d2b70bbefaef214a.jpg" style="width: 50%;border-color: black;border-top-width: 3px;border-top-style: solid;border-right-width: 3px;border-right-style: solid;border-bottom-width: 3px;border-bottom-style: solid;border-left-width: 3px;border-left-style: solid;">
    <br>

    <h4>Marco Aglio</h4>
    <p>Lavoratore, studente web developer ed appassionato di trekking.</p>

  </div>
</div>