<footer class="page-footer blue-grey darken-2 center">     
	<div class="footer-copyright">
  	<div class="container">
		  <div class="row">
		    <div class="col s4">
		      © 2021 Copyright 
		    </div>
	      <div class="col s4">
	        <a href="https://ww.facebook.com/marco-aglio/"  target="_blank" ><i class="fa-social fab fa-facebook fa-2x white-text"></i></a>
					<a href="https://twitter.com/agliusmar" target="_blank" ><i class="fa-social fab fa-twitter fa-2x white-text"></i></a>
					<a href="skype:marco.aglio?chat"><i class="fa-social fab fa-skype fa-2x white-text"></i></a>
				</div>
	      <div class="col s4">
	        <%= link_to "About", about_path, class: "grey-text text-lighten-4 right" %>
        </div>
      </div>	
	  </div>
	</div>
</footer>